footer {
	padding: 50px 50px 0px 50px;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer > div:first-child {
	margin-bottom: 20px;
	transition: transform 0.25s ease-in-out;
}

footer > div:first-child:hover {
	cursor: pointer;
	transform: perspective(400px) translateZ(20px);
}

footer > div:first-child > a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer > div:first-child h2 {
	font-family: "Russo One", sans-serif;
	color: #f47726;
}

footer > ul {
	list-style: none;
	display: flex;
	gap: 30px;
	font-weight: 700;
	letter-spacing: 0.035em;
}

footer > div:last-child {
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 30px;
	width: 100%;
	border-top: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	letter-spacing: 0.035em;
	font-weight: 500;
	text-align: center;
}

a {
	text-decoration: none;
	color: #252525;
}

footer > div:last-child > a {
	display: flex;
	gap: 10px;
	align-items: center;
}

footer img {
	height: 1.5rem;
}

.newsletter {
	padding: 50px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.newsletter > h2 {
	max-width: 1000px;
	font-size: 48px;
	letter-spacing: 0.01em;
	line-height: 1.2em;
	text-align: center;
	font-family: "Russo One", sans-serif;
	margin-bottom: 20px;
}

.newsletter > p:nth-child(2) {
	max-width: 1000px;
	font-size: 18px;
	letter-spacing: 0.035em;
	line-height: 1.5em;
	text-align: center;
	margin-bottom: 30px;
}

.newsletter > div {
	display: flex;
	gap: 20px;
	margin-bottom: 15px;
}

.newsletter input {
	width: 300px;
	border: 2px solid black;
	padding: 10px;
	border-radius: 15px;
	font-family: "Quicksand", sans-serif;
}

.newsletter button {
	background-color: white;
	font-family: "Quicksand", sans-serif;
	letter-spacing: 0.1em;
	font-weight: 700;
	padding: 10px 30px;
	border-radius: 40px;
	transition: transform 0.25s ease-in-out;
}

.newsletter button:hover {
	cursor: pointer;
	transform: perspective(400px) translateZ(20px);
}

.newsletter > p:last-child {
	font-size: 14px;
	color: #8c8c8c;
	text-align: center;
}

.newsletter span {
	cursor: pointer;
	text-decoration: underline;
}

@media (max-width: 600px) {
	.newsletter > h2 {
		font-size: 35px;
	}

	.newsletter > p:nth-child(2) {
		font-size: 14px;
	}

	.newsletter > p:last-child {
		font-size: 12px;
	}

	.newsletter input {
		width: 200px;
	}

	.newsletter button {
		font-size: 12px;
	}

	footer {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 460px) {
	.newsletter input {
		width: 150px;
	}

	.newsletter button {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 380px) {
	.newsletter > div {
		gap: 5px;
	}

	.newsletter input {
		width: 120px;
	}
}
