header {
	padding-left: 50px;
	box-sizing: border-box;
	padding-top: 10px;
	background-color: #f6e6cd;
	height: calc(100% - 72px);
	display: flex;
	align-items: center;
	gap: 100px;
}

header h1 {
	max-width: 820px;
	font-size: 56px;
	font-family: "Russo One", sans-serif;
	letter-spacing: 0.01em;
	line-height: 1.2em;
	margin-bottom: 40px;
}

header p {
	max-width: 820px;
	font-size: 18px;
	font-family: "Quicksand", sans-serif;
	letter-spacing: 0.01em;
	line-height: 1.5em;
	margin-bottom: 40px;
}

header button {
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	font-family: "Quicksand", sans-serif;
	letter-spacing: 0.1em;
	color: white;
	background: #f47726;
	opacity: 0.9;
	transition: all 0.25s ease-in-out;
}

header button:hover {
	cursor: pointer;
	transform: perspective(400px) translateZ(20px);
	opacity: 1;
}

header > img {
	height: 100%;
	border-top-left-radius: 30%;
}

.collections-home,
.trending-home {
	padding: 50px;
	margin-top: 20px;
}

.collections-home > p:first-child,
.trending-home > p:first-child {
	letter-spacing: 0.035em;
	margin-bottom: 5px;
}

.collections-home > h2,
.trending-home > h2 {
	margin-bottom: 5px;
	font-size: 48px;
	letter-spacing: 0.01em;
	font-family: "Russo One", sans-serif;
}

.collections-home > div:nth-child(3),
.trending-home > div:nth-child(3) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.collections-home > div:nth-child(3) > p,
.trending-home > div:nth-child(3) > p {
	font-size: 18px;
	letter-spacing: 0.035em;
	display: flex;
}

.collections-home button,
.trending-home button {
	letter-spacing: 0.1em;
	padding: 10px 30px;
	background-color: white;
	border: 3px solid black;
	border-radius: 40px;
	transition: transform 0.25s ease-in-out;
}

.collections-home button:hover,
.trending-home button:hover {
	cursor: pointer;
	transform: perspective(400px) translateZ(20px);
}

.collections-home > div:last-child,
.trending-home > div:last-child {
	display: flex;
	gap: 20px;
}

.collections-home > div > div,
.trending-home > div > div {
	width: calc((100% - 60px) / 4);
	transition: transform 0.25s ease-in-out;
}

.collections-home > div > div:hover,
.trending-home > div > div:hover {
	transform: perspective(400px) translateZ(10px);
	cursor: pointer;
}

.collections-home > div > div > img,
.trending-home > div > div > img {
	object-fit: cover;
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 10px;
	margin-bottom: 5px;
}

.trending-home > div > div > img {
	box-sizing: border-box;
	padding: 15%;
	object-fit: contain;
	aspect-ratio: 1 / 1;
	border: 2px solid black;
}

.collections-home > div > div > p {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.035em;
}

.trending-home > div > div > p:nth-child(2) {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.035em;
	margin-bottom: 5px;
}

.trending-home > div > div > p:last-child {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.035em;
}
