@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f6e6cd;
	font-family: "Quicksand", sans-serif;
}

.sticky {
	z-index: 10000;
	position: fixed;
	right: 0;
	left: 0;
	animation: slideDown 0.4s ease-in;
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateZ(0%);
	}
}

nav > div:first-child {
	margin-left: 40px;
	transition: transform 0.25s ease-in-out;
}

nav > div:first-child:hover {
	cursor: pointer;
	transform: perspective(400px) translateZ(20px);
}

nav > div:first-child > a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav > div:first-child h2 {
	font-family: "Russo One", sans-serif;
	color: #f47726;
}

nav > div:last-child {
	position: relative;
	z-index: 9998;
	display: flex;
	align-items: center;
	gap: 35px;
}

nav ul {
	display: flex;
	gap: 35px;
	list-style: none;
}

nav ul > li {
	letter-spacing: 0.035em;
	font-weight: 700;
}

nav > div:last-child > a {
	display: block;
	border: 2px solid black;
	border-radius: 20px;
	padding: 10px 30px;
	margin-right: 40px;
}

nav span {
	letter-spacing: 0.1em;
	font-weight: 700;
}

nav span:nth-child(2) {
	color: #f47726;
}

.cart-update {
	background-color: white;
	padding: 15px;
	position: absolute;
	z-index: 9999;
	top: 57px;
	right: 50px;
	border-radius: 5px;
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.cart-update > div:first-child {
	display: flex;
	gap: 80px;
	justify-content: space-between;
	padding-bottom: 15px;
	border-bottom: 1px solid #dcdcdc;
}

.cart-update > div:first-child > div {
	display: flex;
	align-items: center;
	font-size: 14px;
	gap: 10px;
	line-height: 1.5em;
	letter-spacing: 0.035em;
}

.cart-update > div:first-child p {
	font-weight: 600;
}

.cart-update > div:first-child > div > img {
	height: 20px;
}

.cart-update > div:first-child > img {
	height: 30px;
}

.cart-update > div:first-child > img:hover {
	cursor: pointer;
}

.cart-update > div:nth-child(2) {
	margin-top: 15px;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: 0.035em;
}

.cart-update > div:nth-child(2) > div {
	display: flex;
	gap: 10px;
}

.cart-update > div:nth-child(2) img:first-child {
	height: 50px;
}

.cart-update > div:nth-child(2) p:first-of-type {
	font-weight: 400;
}

.cart-update span {
	font-weight: 700;
	color: #252525;
}

.cart-update > div:nth-child(2) > img:last-child {
	margin-right: 7px;
	height: 20px;
	align-self: center;
}

.cart-update > div:nth-child(2) > img:last-child:hover {
	cursor: pointer;
}

.cart-update button {
	margin-top: 15px;
	width: 100%;
	padding: 10px;
	background-color: rgba(255, 126, 27, 0.9);
	color: black;
	border-radius: 8px;
	border: none;
	font-family: "Quicksand", sans-serif;
	letter-spacing: 0.01em;
	line-height: 1.2em;
	font-weight: 700;
	transition: all 0.25s ease-in-out;
}

.cart-update button:hover {
	background-color: rgba(255, 126, 27, 0.8);
	cursor: pointer;
	transform: scale(1.03);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cart-update > p {
	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: 0.035em;
	text-align: center;
	text-decoration: underline;
}

.cart-update > p:hover {
	cursor: pointer;
}

/* mobile style */

.nav-mobile > img {
	margin-left: 40px;
	height: 30px;
}

.nav-mobile > div:nth-child(2) {
	transition: transform 0.25s ease-in-out;
}

.nav-mobile > div:nth-child(2):hover {
	cursor: pointer;
	transform: perspective(400px) translateZ(20px);
}

.nav-mobile > div:nth-child(2) > a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-mobile > div:nth-child(2) h2 {
	font-family: "Russo One", sans-serif;
	color: #f47726;
}

.nav-mobile > div:last-child {
	gap: 0px;
}

.nav-mobile > div:last-child > a {
	padding: 0px;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.nav-mobile > div:last-child > a > span {
	align-self: flex-end;
	color: #f47726;
	font-size: 15px;
	margin-top: -10px;
}

.nav-mobile > div:last-child > a > img {
	height: 30px;
	margin-top: -10px;
}

.nav-menu {
	z-index: 1000;
	background-color: white;
	height: 100%;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 130px;
	position: fixed;
	left: -100%;
	top: 72px;
	transition: all 0.4s ease-in-out;
}

.menu-open {
	left: 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.nav-menu > ul {
	height: 100%;
	list-style: none;
	display: flex;
	gap: 30px;
	flex-direction: column;
}

.nav-menu ul > li {
	letter-spacing: 0.035em;
	font-weight: 600;
}

@media (max-width: 850px) {
	.cart-update {
		top: 50px;
		width: 400px;
	}
}

@media (max-width: 600px) {
	.nav-mobile > div:nth-child(2) h2 {
		font-size: 20px;
	}

	.nav-mobile > div:nth-child(2) h3 {
		font-size: 16px;
	}

	.nav-mobile > img {
		margin-left: 0px;
	}

	.nav-mobile > div:last-child > a {
		margin-right: 0px;
	}

	.nav-menu {
		padding-left: 10px;
		padding-right: 80px;
		top: 64px;
	}

	.cart-update {
		top: 46px;
		right: 0px;
		width: 320px;
	}
}

@media (max-width: 400px) {
	.cart-update {
		width: 250px;
	}

	.cart-update > div:first-child {
		gap: 20px;
	}

	.cart-update > div:first-child p {
		font-size: 12px;
	}

	.cart-update > div:nth-child(2) p:first-of-type {
		font-size: 13px;
	}
}
